*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 700;
  color: #34313d;
  font-family: "Poppins";
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/poppinsmedium.woff2') format('woff2'),
    url('./fonts/poppinsmedium.woff') format('woff');

}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/poppinsbold.woff2') format('woff2'),
    url('./fonts/poppinsbold.woff') format('woff');

}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

}

a {
  text-decoration: none;
  color: #9e9aa8;
  display: inline-block;
}

p {
  margin: 0;
  color: #9e9aa8;
}

img {
  display: block;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 24px;
}

.site-header {
  position: relative;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 40px 23px;
}

.menu-btn {
  width: 24px;
  height: 21px;
  border: none;
  background-image: url("./images/humburg.svg");
  background-repeat: no-repeat;
}

.unscroll {
  overflow: hidden;
}

.open .head-links {
  display: flex;
  z-index: 5;
}

.head-links {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  text-align: center;
  background-color: #3a3054;
  margin-inline: 24px;
  border-radius: 10px;
}

.item-link {
  color: #fff;
  margin-bottom: 30px;
}

.site-navigations {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border-bottom: 1px solid #9e9aa8;
}


.register-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.register-item {
  width: 100%;
}

.sign-up {
  display: block;
  padding-block: 12px 9px;
  border-radius: 28px;
  background-color: #2bd0d0;
  font-size: 15px;
  text-align: center;
}

.hero {
  position: relative;
  padding-bottom: 168px;
}

.hero::before {
  content: '';
  display: inline-block;
  background-image: url("./images/hero-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  /* max-width: 280px; */
  width: 250px;
  height: 240px;
  margin-left: 24px;
  margin-bottom: 37px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.hero-title {
  margin-block: 0 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.049px;

}


.hero-desc {
  margin-block: 0 32px;
  font-size: 13px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.12px;
  color: #9e9aa8;
}

.hero-link {
  width: 180px;
  border-radius: 28px;
  background-color: #2bd0d0;
  color: #fff;
  font-size: 20px;
  padding: 14px 20px 12px;
  text-align: center;
}


.hero-form {
  position: absolute;
  margin-inline: 24px;
  bottom: -80px;
  border-radius: 10px;
  background-image: url("./images/form-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.short-link {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 10px;
  padding: 14px 16px;
  outline: none;
  display: block;
}



.short-link::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.11px;
  color: #34313d;
  opacity: 0.5;
}

.form-btn {
  width: 100%;
  border-radius: 10px;
  background-color: #2bd0d0;
  padding: 10px 16px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.statistics {
  padding-block: 160px 80px;
  background-color: #eff1f7;
  text-align: center;
}


.statistic-title {
  margin-block: 0 16px;
  font-size: 23px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.69px;

}

.statistic-desc {
  margin-block: 0 92px;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.1px;
  color: #9e9aa8;

}

.st-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.st-item {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 77px 32px 41px;
  margin-bottom: 92px;
}

.st-item:first-child:before {
  position: absolute;
  content: '';
  margin-right: 250px;
  width: 88px;
  height: 88px;
  margin: 0 auto;
  display: inline-block;
  background-image: url("./images/brand.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: -44px;
}

.st-item:nth-child(2):before {
  position: absolute;
  content: '';
  margin-right: 250px;
  width: 88px;
  height: 88px;
  margin: 0 auto;
  display: inline-block;
  background-image: url("./images/records.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: -44px;
}

.st-item:last-child:before {
  position: absolute;
  content: '';
  margin-right: 250px;
  width: 88px;
  height: 88px;
  margin: 0 auto;
  display: inline-block;
  background-image: url("./images/custom.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: -44px;
}


.st-item-subheading {
  margin-block: 0 12px;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;

}

.st-item-info {
  margin-block: 0;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  color: #9e9aa8;
}

/* .line {
  position: absolute;
  width: 30px;
  top: 152px;
  left: 350px;
  height: 8px;
  background-color: #2bd0d0;
}

.next-line {
  position: absolute;
  width: 28px;
  top: 152px;
  right: 350px;
  height: 8px;
  background-color: #2bd0d0;
}
 */
.boost-link {
  padding: 90px 11px;
  background-image: url("./images/bg-links.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.boost-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boost-title {
  margin-block: 0 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.69px;
  color: #fff;
}

.site-footer {
  padding-block: 54px 56px;
  background-color: #232127;
  text-align: center;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  width: 120px;
  height: 32px;
  margin-bottom: 49px;
}

.footer-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  margin-bottom: 48px;
}

.footer-subheading {
  margin-block: 0 22px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.features-link {
  color: #bfbfbf;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-content: start;
  column-gap: 23px;
}

@media only screen and (min-width:375px) {

  .hero::before {
    width: 350px;
    height: 337px;
    background-size: contain;
  }

  .hero-title {
    font-size: 42px;
    line-height: 48px;
  }

  .hero-desc {
    font-size: 18px;
    line-height: 30px;
  }

  .hero-link {
    width: 197px;
  }

  .hero-form {
    max-width: 327px;
    width: 100%;
  }

  .statistic-title {
    font-size: 28px;
    line-height: 48px;
  }

  .statistic-desc {
    font-size: 16px;
    line-height: 28px;
  }

  .st-item-subheading {
    font-size: 22px;
    line-height: 33px;
  }

  .st-item-info {
    font-size: 15px;
    line-height: 26px;
  }

  .boost-title {
    font-size: 28px;
    line-height: 48px;
  }
}

@media only screen and (min-width:700px) {
  .logo-link {
    margin-right: 20px;
  }

  .menu-btn {
    display: none;
  }

  .head-links {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }

  .site-navigations {
    border-bottom: 0;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;

  }

  .nav-list {
    display: flex;
    flex-direction: row;
  }

  .nav-item-link {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .register-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .login {
    margin-right: 20px;
  }

  .register-item {
    width: fit-content;
    margin-bottom: 0;
  }


  .item-link {
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    color: #9e9aa8;
    margin-bottom: 0;
  }

  .sign-up {
    width: 105px;
    color: #fff;
  }

  .header-inner {
    padding-bottom: 0;
  }

  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
  }

  .hero-left {
    text-align: left;
    padding-top: 40px;
  }

  .hero::before {
    display: none;
  }

  .hero-wrapper::after {
    content: '';
    display: inline-block;
    background-image: url("./images/hero-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 450px;
    height: 340px;
  }

  .hero-form {
    left: 25%;
  }

  .footer-list {
    flex-direction: row;
    align-items: start;
    column-gap: 50px;
  }

  .hero-form {
    max-width: 662px;
    left: calc(50% - 355px);
  }
}

@media only screen and (min-width:1000px) {
  .logo-link {
    margin-right: 45px;
  }

  .nav-item-link {
    margin-right: 30px;
  }

  .login {
    margin-right: 37px;
  }

  .hero-left {
    width: 564px;
  }

  .hero-title {
    font-size: 70px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: -2px;

  }

  .hero-wrapper::after {
    width: 570px;
    height: 482px;
  }

  .hero-desc-wrapper {
    width: 540px;
  }

  .hero-wrapper {
    flex-direction: row;

  }

  .hero-desc {
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.15px;

  }

  .hero-form {
    padding: 52px 64px;
    max-width: 952px;
    left: calc(50% - 500px);
    border-radius: 25px;
    flex-direction: row;
  }

  .short-link {
    padding: 17px 32px;
    margin-bottom: 0;
    margin-right: 24px;
    border: none;
  }

  .short-link::placeholder {
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.15px;
    
  }

  .form-btn {
    border: none;
    padding-block: 14px;
    width: 188px;
  }

  .title-wrapper {
    width: 540px;
    text-align: center;
    margin: 0 auto;
  }

  .statistic-title {
    margin-top: 0;
    margin-bottom: 18px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
  }

  .statistic-desc {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 100px;
  }

  .st-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 130px; */
  }

  .st-item {
    position: relative;
    width: 300px;
    border-radius: 5px;
    background-color: #fff;
    padding: 77px 32px 41px;

  }

  .brand {
    position: absolute;
    top: 44px;
    left: calc(50% - 150px);
  }

  .custom {
    position: absolute;
    top: 88px;
    right: 0;
  }

  .brand-pic {
    width: 88px;
    height: 88px;
    position: absolute;
    top: -44px;
    background-image: url("./images/brand.svg");
    background-repeat: no-repeat;
  }

  .st-item-subheading {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 22px;
    font-weight: 700;
  }

  .st-item-info {
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
  }

  .record-pic {
    width: 88px;
    height: 88px;
    position: absolute;
    top: -44px;
    background-image: url("./images/records.svg");
    background-repeat: no-repeat;
  }

  .custom-pic {
    width: 88px;
    height: 88px;
    position: absolute;
    top: -44px;
    background-image: url("./images/custom.svg");
    background-repeat: no-repeat;
  }

  .boost-title {
    margin-bottom: 32px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;

  }

  .footer-inner {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }

  .footer-lists {
    justify-content: start;
    flex-direction: row;
    align-items: start;

  }

  .footer-list {
    column-gap: 0;
    margin-right: 100px;
    margin-bottom: 0;
    text-align: left;
  }

  .footer-item:first-child {
    margin-right: 78px;
  }

  .footer-item:nth-child(2) {
    margin-right: 107px;
  }
}

@media only screen and (min-width:1100px) {
  .container {
    padding-inline: 20px;
  }
  .item-link:hover {
    color: #34313d;
  }
  .sign-up:hover {
    background-color: #9ae3e3;
    color: #fff;
  }

  .hero-wrapper {
    /* width: 564px; */
    flex-direction: row;
  }

  .hero-inner {
    flex-direction: row;
    text-align: center;
  }
  .hero-link:hover {
    background-color: #9ae3e3;

  }
  .hero-form {
    max-width:1100px ;
    left: calc(50% - 570px);
  }
  .form-btn:hover {
    background-color: #9ae3e3;

  }
  .features-link:hover {
    color: #fff;
  }
}

/* @media only screen and (min-width: 1100px) {
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .head-left {
    display: flex;
    align-items: center;
  }

  .logo-link {
    margin-right: 0;
  }

  .site-logo {
    margin-right: 45px;
  }

  .nav-list {
    display: flex;
  }

  .nav-item-link {
    margin-right: 32px;

    font-size: 15px;
    font-weight: 700;
  }

  .register-list {
    display: flex;
    align-items: center;

  }

  .login {
    margin-right: 37px;
    font-size: 15px;
  }

  .sign-up {
    width: 105px;
    padding: 9px;
    border-radius: 28px;
    background-color: #2bd0d0;
    color: #fff;
    font-size: 15px;
    text-align: center;
  }

  .hero::after {
    width: 750px;
    height: 482px;
  }

  .hero-wrapper {
    position: relative;
  }

  .hero-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 222px;
  }

  .hero {
    padding-top: 32px;
  }

  .hero-left {
    padding-top: 61px;
  }

  .hero-title {
    font-size: 80px;
    line-height: 90px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .hero-desc-wrapper {
    width: 540px;
  }

  .hero-desc {
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.15px;
    margin-bottom: 38px;
  }

  .hero-link {
    width: 197px;
    border-radius: 28px;
    background-color: #2bd0d0;
    color: #fff;
    font-size: 20px;
    padding: 14px 40px;
    text-align: center;
  }

  .hero-img {
    width: 482px;
    height: 482px;
    background-image: url("./images/herobg.svg");
    background-repeat: no-repeat;
  }

  .hero-form {
    position: absolute;
    bottom: -89px;
    border-radius: 10px;
    background-color: #3a3054;
    padding: 52px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .short-link {
    width: 769px;
    border-radius: 10px;
    padding: 16px 32px;
    outline: none;
    display: block;
    margin-right: 25px;
  }

  .short-link:focus {
    border: 1px solid #fff;
  }

  .short-link::placeholder {
    color: #34313d;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.15px;
    opacity: 0.5;
  }

  .form-btn {
    width: 188px;
    border-radius: 10px;
    background-color: #2bd0d0;
    padding: 18px 40px 16px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }

  .statistics {
    padding-top: 204px;
    padding-bottom: 100px;
    background-color: #eff1f7;
  }

  .title-wrapper {
    width: 440px;
    text-align: center;
    margin: 0 auto;
  }

  .statistic-title {
    margin-top: 0;
    margin-bottom: 18px;

    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
  }

  .statistic-desc {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 100px;
  }

  .st-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
  }

  .st-item {

    position: relative;
    width: 350px;
    border-radius: 5px;
    background-color: #fff;
    padding: 77px 32px 41px;

  }

  .brand {
    position: absolute;
    top: 44px;
    left: 380px;
  }

  .custom {
    position: absolute;
    top: 88px;
    right: 0;
  }

  .brand-pic {
    width: 88px;
    height: 88px;
    position: absolute;
    top: -44px;
    background-image: url("./images/brand.svg");
    background-repeat: no-repeat;
  }

  .st-item-subheading {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 22px;
    font-weight: 700;
  }

  .st-item-info {
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
  }

  .record-pic {
    width: 88px;
    height: 88px;
    position: absolute;
    top: -44px;
    background-image: url("./images/records.svg");
    background-repeat: no-repeat;
  }

  .custom-pic {
    width: 88px;
    height: 88px;
    position: absolute;
    top: -44px;
    background-image: url("./images/custom.svg");
    background-repeat: no-repeat;
  }

  .line {
    position: absolute;
    width: 30px;
    top: 152px;
    left: 350px;
    height: 8px;
    background-color: #2bd0d0;
  }

  .next-line {
    position: absolute;
    width: 28px;
    top: 152px;
    right: 350px;
    height: 8px;
    background-color: #2bd0d0;
  }

  .boost-link {
    padding-top: 57px;
    padding-bottom: 57px;
    background-color: #3a3054;
  }

  .boost-inner {
    text-align: center;
    margin: 0 auto;
  }

  .boost-title {
    margin-top: 0;
    margin-bottom: 32px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
  }

  .boost {
    margin: 0 auto;
  }

  .site-footer {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #232127;
  }

  .footer-inner {
    display: flex;
    justify-content: space-between;
  }

  .footer-lists {
    display: flex;
    justify-content: space-between;
  }

  .footer-list {
    display: flex;
    justify-content: space-between;
    column-gap: 78px;
    margin-right: 100px;
  }

  .footer-subheading {
    margin-top: 0;
    margin-bottom: 22px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
  }

  .features-link {
    color: #bfbfbf;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .social-list {
    display: flex;
    justify-content: space-between;
  }

  .social-item {
    margin-right: 23px;
  }
} */